<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Home</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <br>
      <h1>Welcome to the start of my first app</h1>
    <br>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
       <ion-button>Cordoba 2024</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>